<mat-spinner class="spinner" *ngIf="loading; else content">
</mat-spinner>

<ng-template #content>
  <mat-card>
    <mat-card-title>
      Register
    </mat-card-title>
    <mat-card-content>

      <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">

        <mat-form-field class="input">
          <input matInput type="input" formControlName="username">
          <mat-label>
            <mat-icon>
              person
            </mat-icon>
            Username
          </mat-label>
          <mat-error *ngIf="form.username.errors">
            Invalid!
          </mat-error>
        </mat-form-field>

        <mat-form-field class="input">
          <input matInput type="password" formControlName="password">
          <mat-label>
            <mat-icon>
              lock
            </mat-icon>
            Password
          </mat-label>
          <mat-error *ngIf="form.password.errors">
            Invalid!
          </mat-error>
        </mat-form-field>

      </form>

    </mat-card-content>
    <mat-card-actions>

      <button mat-raised-button class="margin" color="primary" (click)="onSubmit()" [disabled]="formGroup.invalid">Register</button>

    </mat-card-actions>
  </mat-card>
</ng-template>