.chart {
    margin-top: 50px;
    width: 100%;
    height: 100%
}

.chart-card {
    padding: 20px;
    margin: 20px;
}

.chart-divider {
    margin-top: 20px;
}

.toggle-group{
  margin-left: 1.7%;
}

.toolbar{
  width: 100%;
}

.room-spacer {
  flex: 1 1 auto;
}
